.scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scroll-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari */
  }
  .bgstyle{
    background-image:url("https://wallpapercave.com/wp/wp4410743.png") ;
  }
  .top-custom{
    top: -2.5px;
    left: -12px;
  }
.cuscss{
  top: -2.5px;
}
  